/*
Theme Name: Fotografie
Theme URI: https://catchthemes.com/themes/fotografie/
Author: Catch Themes
Author URI: https://catchthemes.com/
Description: Fotografie is a modern Photography WordPress Theme that comes with high-quality features and minimal design. True to the essence of the German word, Fotografie is simple, elegant and straightforward WordPress theme to showcase your photography. It is ideal for creating photography websites for Photographers, Graphic Designers, Freelancers, Artists, or Bloggers. It comes with basic features that are extremely crucial, like header media options, hero content, portfolio, featured content, color options and menu options to create a simple and elegant website in no time. Designed to make your photographs stand out with clear, easy to read content, Fotografie has it all to take your photoblogs to the next level. Fotografie stands out in the respect that it puts your photographs in the limelight while doing all the important background work. Showcase to the world what's important - your Fotografie. This theme is translation ready. For more details, check out the Theme Instructions at https://catchthemes.com/theme-instructions/fotografie/ and Support forum at https://catchthemes.com/support-forum/forum/fotografie-free/.
Version: 2.3
Requires at least: 5.6
Tested up to: 5.9
Requires PHP: 5.6
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: fotografie
Tags: one-column, two-columns, left-sidebar,  flexible-header, custom-background, custom-logo, custom-header, custom-menu, editor-style, featured-image-header, featured-images, footer-widgets, rtl-language-support, translation-ready, blog, photography, portfolio

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Fotografie is created by the theme generator at http://components.underscores.me/, (C) 2015-2016 Automattic, Inc.
Components is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Accessibility
# Alignments
# Clearings
# Typography
  ## FontAwesome
# Forms
# Formatting
# Lists
# Tables
# Navigation
  ## Main Menu
  ## Social Menu
  ## Scroll Up
# Links
# Layout
  ## Header
  ## Slider
  ## Breadcrumb
  ## Posts
  ## Pages
  ## Footer
  ## Featured Content & Portfolio
  ## Extra Elements
# Comments
# Widgets
# Infinite scroll
# Media
  ## Galleries
# Media Queries
  ## >= 534px
  ## >= 768px
  ## >= 1024px
  ## >= 1152px
  ## >= 1280px
  ## >= 1360px
  ## >= 1440px
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1.5em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text,
.mobile-search-wrapper .search-button-text,
.widget-area .widget_search .search-button-text,
.comment-author .says,
.comment-list .reply span {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus,
.mobile-search-wrapper .search-button-text:focus,
.widget-area .widget_search .search-button-text:focus,
.comment-author .says:focus,
.comment-list .reply span:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin: 0.6em 1.5em 1.5em 0;
}

.alignright {
  display: inline;
  float: right;
  margin: 0.6em 0 1.5em 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.5em;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.singular-section:before,
.singular-section:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.featured-content-wrapper:before,
.featured-content-wrapper:after,
.hero-content-wrapper:before,
.hero-content-wrapper:after,
.site-footer:before,
.site-footer:after,
.footer-widget-area:before,
.footer-widget-area:after,
.comment-meta:before,
.comment-meta:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.singular-section:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.featured-content-wrapper:after,
.hero-content-wrapper:after,
.site-footer:after,
.footer-widget-area:after,
.comment-meta:after {
  clear: both;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
  color: rgba(0, 0, 0, 0.70);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.647;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin: 0 0 21px;
}

h1,
.entry-title {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.4;
}

h2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.63;
}

h3,
#feature-slider .entry-title,
.portfolio-wrapper .entry-title,
.featured-content-wrapper .entry-title,
.widget-area .widget-title,
.comments-title,
.comment-reply-title {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
}

h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.647;
}

h5 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.66;
}

h6,
.blog-section-headline .archive-title-type,
table caption,
.wp-caption-text,
.comment-notes,
.comment-metadata,
.site-info {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.6923;
}

.entry-meta,
table caption,
.portfolio-wrapper .portfolio-entry-header,
.featured-content-wrapper .entry-header,
.blog-section-headline .archive-title-type,
.content-area .entry-footer span span,
.content-area .entry-footer .edit-link,
.post-navigation .meta-nav,
.comment-reply-title {
  letter-spacing: 0.10em;
  text-transform: uppercase;
}

.site-title,
.site-description,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.main-navigation a,
.site-footer-menu a,
.comment-navigation a,
.posts-navigation a,
.site-main #infinite-handle span button,
.footer-widget-area.widget-area .widget-title,
.site-info {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

p {
  margin: 0 0 28px;
  padding: 0;
}

dfn, cite, em, i {
  font-style: italic;
}

address {
  margin: 0 0 28px;
}

pre {
  background-color: rgba(0, 0, 0, 0.08);
  font-family: 'Courier 10 Pitch', Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 28px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code, kbd, tt, var {
  border: 0;
  background: transparent;
  color: inherit;
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 0;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

blockquote {
  font-style: italic;
  line-height: 1.353;
  overflow: hidden;
  margin: 28px 0 28px -60px;
  position: relative;
  padding-left: 60px;
}

blockquote, q {
  quotes: "" "";
}

blockquote:after, q:before, q:after {
  content: "";
}

blockquote:before {
  content: "\201C";
  position: absolute;
  left: 0;
  top: 33px;
  font-size: 120px;
  line-height: 28px;
}

/*--------------------------------------------------------------
## FontAwesome
--------------------------------------------------------------*/
.wp-custom-header-video-button:before,
.search-toggle:before,
.widget-area .widget_search .search-submit:before,
.menu-toggle:before,
.main-navigation .menu-item-has-children > a:after,
.main-navigation .page_item_has_children > a:after,
.dropdown-toggle:after,
.mobile-search-wrapper .search-submit:before,
.social-navigation a:before,
#feature-slider .cycle-prev:before,
#feature-slider .cycle-next:before,
.entry-breadcrumbs a:after,
.comment-list .reply a:before,
#scrollup:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-toggle:before,
.mobile-search-wrapper .search-submit:before,
.widget-area .widget_search .search-submit:before {
  content: "\f002";
}

.menu-toggle:before {
  content: "\2630";
}

.search-toggle.open:before,
.menu-toggle.toggled-on:before  {
  content: "\f00d";
}

.dropdown-toggle:after {
  content: "\f067";
}

.active.dropdown-toggle:after {
  content: "\f068";
}

#feature-slider .cycle-prev:before {
  content: "\f053";
}

#feature-slider .cycle-next:before {
  content: "\f054";
}

.entry-breadcrumbs a:after {
  content: "\f101";
  padding-left: 7px;
}

.comment-list .reply a:before {
  content: "\f112";
}

.wp-custom-header-video-play:before {
  content: "\f04c";
}

.wp-custom-header-video-pause:before {
  content: "\f04b";
}

#scrollup:before {
  content: "\f077";
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
label {
  display: block;
  padding-left: 14px;
}

.wpcf7-form label {
  padding-left: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
  background: rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: unset;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.70);
  line-height: 1.235;
  padding: 7px 14px;
}

.site-footer input[type="text"],
.site-footer input[type="email"],
.site-footer input[type="url"],
.site-footer input[type="password"],
.site-footer input[type="search"],
.site-footer input[type="number"],
.site-footer input[type="tel"],
.site-footer input[type="range"],
.site-footer input[type="date"],
.site-footer input[type="month"],
.site-footer input[type="week"],
.site-footer input[type="time"],
.site-footer input[type="datetime"],
.site-footer input[type="datetime-local"],
.site-footer input[type="color"],
.site-footer textarea,
.site-footer select {
  background-color: #141414;
  color: rgba(255, 255, 255, 0.70);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
  color: rgba(0, 0, 0, 1);
}

.site-footer input[type="text"]:focus,
.site-footer input[type="email"]:focus,
.site-footer input[type="url"]:focus,
.site-footer input[type="password"]:focus,
.site-footer input[type="search"]:focus,
.site-footer input[type="number"]:focus,
.site-footer input[type="tel"]:focus,
.site-footer input[type="range"]:focus,
.site-footer input[type="date"]:focus,
.site-footer input[type="month"]:focus,
.site-footer input[type="week"]:focus,
.site-footer input[type="time"]:focus,
.site-footer input[type="datetime"]:focus,
.site-footer input[type="datetime-local"]:focus,
.site-footer input[type="color"]:focus,
.site-footer textarea:focus,
.site-footer select:focus {
  color: rgba(255, 255, 255, 1);
}

select {
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.site-footer select {
  border-color: rgba(255, 255, 255, 0.05);
}

textarea {
  width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: rgba(0, 0, 0, 1);
  border: none;
  border-radius: unset;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.3999;
  padding: 7px 35px;
}

.site-footer button,
.site-footer .button,
.site-footer input[type="button"],
.site-footer input[type="reset"],
.site-footer input[type="submit"] {
  background: rgba(255, 255, 255, 1);
  color: #000;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: rgba(0, 0, 0, 0.7);
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  background: rgba(0, 0, 0, 0.7);
  color: #000;
}

.site-footer button:hover,
.site-footer .button:hover,
.site-footer input[type="button"]:hover,
.site-footer input[type="reset"]:hover,
.site-footer input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
}

.site-footer button:active,
.site-footer button:focus,
.site-footer .button:active,
.site-footer .button:focus,
.site-footer input[type="button"]:active,
.site-footer input[type="button"]:focus,
.site-footer input[type="reset"]:active,
.site-footer input[type="reset"]:focus,
.site-footer input[type="submit"]:active,
.site-footer input[type="submit"]:focus {
  background: rgba(255, 255, 255, 0.7);
}

.post-password-form label {
  padding: 0;
  text-align: center;
}

.post-password-form input[type="password"] {
  display: block;
  width: 100%;
}

.post-password-form input[type="submit"] {
  display: block;
  margin: 14px auto 0;
}

/*--------------------------------------------------------------
# Formattings
--------------------------------------------------------------*/
hr {
  background-color: rgba(0, 0, 0, 0.25);
  border: 0;
  height: 1px;
  margin-bottom: 28px;
}

.drop-cap:first-letter {
  float: left;
  font-size: 102px;
  font-size: 6.375rem;
  line-height: 0.6;
  margin: 6px 16px 6px -3px;
}

/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/
ul,
ol {
  margin: 0 0 28px 28px;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 28px;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 28px 28px;
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
table,
table caption {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-width: 1px 1px 0 1px;
}

table {
  border-collapse: collapse;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 0 28px;
  table-layout: fixed;
  /* Prevents HTML tables from becoming too wide */
  width: 100%;
}

table caption {
  text-align: center;
}

table a {
  color: rgba(0, 0, 0, 0.70);
  font-weight: 700;
}

th {
  text-align: left;
}

th,
td,
table caption {
  padding: 21px;
}

tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Main Menu
--------------------------------------------------------------*/
.site-header-menu {
  clear: both;
  display: block;
}

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul li {
  display: block;
  padding: 0 14px;
  text-align: left;
}

.main-navigation ul ul .menu-item-has-children > a:after {
  float: right;
  padding: 13px 0;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation li {
  border-top: 1px solid #1f1f1f;
  display: block;
  position: relative;
}

.main-navigation a {
  color: rgba(255, 255, 255, 0.70);
  display: block;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.667;
  padding: 14px 28px;
  text-decoration: none;
}

.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation ul.menu li:hover > a,
.main-navigation ul.menu li.focus > a,
.main-navigation ul.menu li:active > a {
    color: #fff;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a {
  padding-right: 50px;
}

.main-navigation ul ul a {
  text-transform: none;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 2.6;
  padding: 2px 14px;
}

.main-navigation ul ul a:hover,
.main-navigation ul ul > li.focus > a {
  background-color: #0d0d0d;
}

/* Small menu. */
.menu-toggle-wrapper {
  border-top: 1px solid #1f1f1f;
}

.menu-toggle {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  color: #fff;
  margin: 0 auto;
  padding: 14px 28px;
  font-size: 15px;
  font-size: 0.9375rem;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: #4c4c4c;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #1f1f1f;
  color: #fff;
}

.menu-toggle:focus {
  outline: thin solid;
}

.mobile-search-wrapper {
  border-top: 1px solid #1f1f1f;
  clear: both;
  display: none;
  padding: 14px 28px;

}

.site-header-menu.toggled-on .menu,
.site-header-menu.toggled-on .mobile-search-wrapper {
  display: block;
}

.mobile-search-wrapper .search-form {
  position: relative;
}

.mobile-search-wrapper label {
  padding: 0;
}

.mobile-search-wrapper .search-field {
  background-color: #141414;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.70);
  margin: 0;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 6px 12px;
  width: -webkit-calc(100% - 41px);
  width: calc(100% - 41px);
}

.mobile-search-wrapper .search-field:focus {
  color: rgba(255, 255, 255, 1);
}

.mobile-search-wrapper .search-submit {
  background: rgba(255, 255, 255, 1);
  -webkit-border-radius: 0;
  border-radius: 0;
  bottom: 0;
  color: #000;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
}

.mobile-search-wrapper .search-submit:hover,
.mobile-search-wrapper .search-submit:focus {
  background: rgba(255, 255, 255, 0.7);
}

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle:before {
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 15px;
  margin-right: 5px;
}

.menu-toggle.toggled-on:before {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 15px;
}

.dropdown-toggle {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: unset;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
  font-size: 16px;
  font-size: 1rem;
  padding: 18px;
  line-height: 1.1;
}

.sub-menu .dropdown-toggle {
  padding: 13px 18px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.70);
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .pagination,
.site-main #infinite-handle {
  clear: both;
  display: inline-block;
  margin: 49px 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.site-main .posts-navigation .nav-links {
  padding: 0 35px;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  margin-top: 21px;
}

.site-main #infinite-handle span {
  background-color: transparent;
  display: inline-block;
}

.post-navigation {
  clear: both;
  max-width: 826px;
  overflow: hidden;
  padding: 0 35px;
  width: 100%;
}

.post-navigation .nav-links {
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.post-navigation .nav-previous,
.post-navigation .nav-next {
  border: 2px solid rgba(0, 0, 0, 0.12);
  text-align: center;
}

.post-navigation a {
  display: block;
  padding: 28px;
}

.post-navigation .meta-nav {
  color: rgba(0, 0, 0, 0.70);
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 2.54;
}

.post-navigation a:hover .meta-nav {
  color: #fff;
}

.button,
.comment-navigation a,
.posts-navigation a,
.site-main #infinite-handle span button {
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.667;
  padding: 14px 28px;
}

.site-main #infinite-handle span button {
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

.site-main #infinite-handle span button:hover,
.site-main #infinite-handle span button:focus {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.667;
  padding: 14px 28px;
}

.button:hover,
.button:focus,
.comment-navigation a:hover,
.comment-navigation a:focus,
.posts-navigation a:hover,
.posts-navigation a:focus,
.post-navigation a:hover,
.post-navigation a:focus,
.site-main #infinite-handle span button:hover,
.site-main #infinite-handle span button:focus {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
.site-footer-menu ul {
  clear: both;
  display: block;
  list-style: none;
  margin: 0 0 21px;
  text-align: center;
}

.site-footer-menu li {
  display: inline-block;
}

.site-footer-menu a {
  color: rgba(255, 255, 255, 0.70);
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.667;
  padding: 7px 10px;
  text-decoration: none;
}

.site-footer-menu a:hover,
.site-footer-menu a:focus {
    color: #fff;
}

/*--------------------------------------------------------------
## Social Menu
--------------------------------------------------------------*/
.social-navigation ul {
  list-style: none;
  margin: 0 0 21px;
}

.social-navigation li {
  display: inline-block;
  margin: 0 7px 7px 0;
}

.social-navigation a {
  background-color: transparent;
  border: 1px solid #171717;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #c3c3c3;
  display: block;
  height: 36px;
  position: relative;
  width: 36px;
}

#secondary .social-navigation a {
  border-color: #c3c3c3;
}

.social-navigation a:before {
  content: "\f0c1";
  display: block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 34px;
}

.social-navigation a:hover,
.social-navigation a:focus{
  background: rgba(255, 255, 255, 0.90);
  color: #000;
}

#secondary .social-navigation a:hover,
#secondary .social-navigation a:focus {
  background: rgba(102, 102, 102, 0.2);
}

.social-navigation a[href*="codepen.io"]:before {
  content: "\f1cb";
}

.social-navigation a[href*="digg.com"]:before {
  content: "\f1a6";
}

.social-navigation a[href*="dribbble.com"]:before {
  content: "\f17d";
}

.social-navigation a[href*="dropbox.com"]:before {
  content: "\f16b";
}

.social-navigation a[href*="facebook.com"]:before {
  content: "\f09a";
}

.social-navigation a[href*="flickr.com"]:before {
  content: "\f16e";
}

.social-navigation a[href*="foursquare.com"]:before {
  content: "\f180";
}

.social-navigation a[href*="plus.google.com"]:before {
  content: "\f2b3";
}

.social-navigation a[href*="github.com"]:before {
  content: "\f09b";
}

.social-navigation a[href*="instagram.com"]:before {
  content: "\f16d";
}

.social-navigation a[href*="linkedin.com"]:before {
  content: "\f0e1";
}

.social-navigation a[href*="path.com"]:before {
  content: "\f20c";
}

.social-navigation a[href*="pinterest.com"]:before {
  content: "\f0d2";
}

.social-navigation a[href*="getpocket.com"]:before {
  content: "\f265";
}

.social-navigation a[href*="reddit.com"]:before {
  content: "\f1a1";
}

.social-navigation a[href*="skype.com"]:before {
  content: "\f17e";
}

.social-navigation a[href*="stumbleupon.com"]:before {
  content: "\f1a4";
}

.social-navigation a[href*="tumblr.com"]:before {
  content: "\f174";
}

.social-navigation a[href*="twitter.com"]:before {
  content: "\f099";
}

.social-navigation a[href*="vimeo.com"]:before {
  content: "\f27d";
}

.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before {
  content: "\f19a";
}

.social-navigation a[href*="youtube.com"]:before {
  content: "\f167";
}

.social-navigation a[href^="mailto:"]:before {
  content: "\f0e0";
}

.social-navigation a[href*="spotify.com"]:before {
  content: "\f1bc";
}

.social-navigation a[href*="twitch.tv"]:before {
  content: "\f1e8";
}

.social-navigation a[href$="/feed/"]:before {
  content: "\f09e";
}

.social-navigation a[href*="amazon.com"]:before {
  content: "\f270";
}

.social-navigation a[href*="apple.com"]:before {
  content: "\f179";
}

.social-navigation a[href*="bandcamp.com"]:before {
  content: "\f2d5";
}

.social-navigation a[href*="behance.com"]:before {
  content: "\f1b4";
}

.social-navigation a[href*="deviantart.com"]:before {
  content: "\f1bd";
}

.social-navigation a[href*="etsy.com"]:before {
  content: "\f2d7";
}

/*--------------------------------------------------------------
## Scroll Up
--------------------------------------------------------------*/
#scrollup {
  background: rgba(0, 0, 0, 1.0);
  -webkit-border-radius:  50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.70);
  cursor: pointer;
  display: none;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.87;
  outline: none;
  padding: 7px 14px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  width: 46px;
  height: 46px;
  z-index: 9999;
}

#scrollup:hover,
#scrollup:focus {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: rgba(0, 0, 0, 0.7);
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background-color: #f6f6f6;
}

.site-inner {
  background-color: #fff;
  overflow-x: hidden;
  position: relative;
  word-wrap: break-word;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
}

.fluid-layout .site-inner {
  max-width: 100%;
}

.wrapper {
  max-width: 1148px;
  margin: 0 auto;
}

.site-footer .wrapper {
  max-width: 1218px;
}

.fluid-layout .portfolio-wrapper,
.fluid-layout .featured-content-wrapper,
.fluid-layout .hero-content-wrapper .section-content-wrap,
.fluid-layout .post-archive {
  display: block;
  margin: 0 auto;
  max-width: 1920px;
}

.full-width-layout .site-content .wrapper {
  max-width: 100%;
}

.singular-section .content-area .entry-header,
.singular-section .content-area .entry-content,
.singular-section .content-area .entry-footer,
.singular-section .content-area .comments-area,
.woocommerce .site-main {
  display: block;
  margin: 0 auto;
  max-width: 826px;
  padding: 0 35px;
  width: 100%;
}

.full-width-layout .content-area .entry-header,
.full-width-layout .content-area .entry-content,
.full-width-layout .content-area .entry-footer,
.full-width-layout .content-area .comments-area,
.full-width-layout.woocommerce .site-main {
  max-width: 100%;
}

.fluid-layout.full-width-layout .content-area .entry-header,
.fluid-layout.full-width-layout .content-area .entry-content,
.fluid-layout.full-width-layout .content-area .entry-footer,
.fluid-layout.full-width-layout .content-area .comments-area,
.fluid-layout.full-width-layout.woocommerce .site-main {
  max-width: 1920px;
}

.full-content-width-layout .content-area .entry-header,
.full-content-width-layout .content-area .entry-content,
.full-content-width-layout .content-area .entry-footer,
.full-content-width-layout .content-area .comments-area,
.full-content-width-layout.woocommerce .site-main {
  max-width: 1148px;
}

/* Two Columens Layout (Content with Primary Sidebar) */
.two-columns-layout .content-area .entry-header,
.two-columns-layout .content-area .entry-content,
.two-columns-layout .content-area .entry-footer,
.two-columns-layout .content-area .comments-area,
.two-columns-layout.woocommerce .site-main  {
  max-width: 100%;
  padding: 0;
}

.two-columns-layout .singular-section {
  max-width: 1196px;
}

.two-columns-layout #primary {
  float: left;
  padding: 0 35px;
  width: 100%;
}

.two-columns-layout .content-area .entry-header {
  text-align: left;
}

.two-columns-layout .content-area .post-thumbnail,
.two-columns-layout .content-area .entry-content {
  margin: 28px 0;
}

.two-columns-layout #secondary {
  float: right;
  padding: 0 35px;
  width: 100%;
}

.content-right.two-columns-layout #primary {
  float: right;
}

.content-right.two-columns-layout #secondary {
  float: left;
}

.entry-content > :last-child,
.entry-summary > :last-child,
.comment-content > :last-child,
.taxonomy-description > :last-child,
blockquote > :last-child,
.widget > :last-child,
.footer-meta-area .author-bio,
.footer-meta-area .nav-next .post-title {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
#masthead {
  background-color: #000;
}

.site-header-main {
  position: relative;
}

.custom-header-media {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.custom-header-media img {
  width: 100%;
}

.has-header-video .custom-header-media {
  min-height: 400px;
}

.custom-header-media iframe,
.custom-header-media video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* For browsers that support 'object-fit' */
@supports ( object-fit: cover ) {
  .custom-header-media .wp-custom-header img,
  .custom-header-media video {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 100%;
  }
}

.wp-custom-header-video-button {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  letter-spacing: 0;
  margin: 0 auto;
  padding: 14px 19px;
  position: absolute;
  bottom: 70px;
  left: 48.3%;
  text-align: center;
}

.site-branding {
  text-align: center;
  padding: 18px 35px 14px;
}

.custom-logo-link {
  display: block;
  margin: 0 auto 7px;
}

.site-title {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.6333;
}

.site-title a {
  color: #fff;
  text-decoration: none;
}

.site-title a:hover,
.site-title a:focus {
  color: rgba(255, 255, 255, 0.70);
}

.site-description {
  color: rgba(255, 255, 255, 0.50);
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1.82;
}

.site-title,
.site-description {
  margin: 0 0 7px;
}

.site-search {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.search-toggle {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  display: block;
  float: right;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.01em;
  line-height: 1;
  padding: 26px 16px;
  text-shadow: none;
}

.site-title a:hover,
.site-title a:focus,
.search-toggle:hover,
.search-toggle:focus {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.70);
  text-shadow: none;
}

.search-wrapper {
  background-color: #fff;
  clear: both;
  display: none;
  position: relative;
  padding: 28px;
  width: 322px;
  z-index: 199;
}

.search-wrapper:before {
  border: solid;
  content: "";
  position: absolute;
  top: -14px;
  right: 16px;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 7px;
}

.search-wrapper label {
  padding-left: 0;
}

.search-wrapper .search-field,
.search-wrapper .search-submit {
  width: 100%;
}

.search-wrapper .search-field {
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.70);
  margin-bottom: 14px;
}

.site-main .search-form {
  margin-bottom: 28px;
}

.site-main .search-form label {
  display: block;
  padding-left: 0;
  float: left;
}

.site-main .search-form label {
  display: block;
  float: left;
  clear: none;
}

/*--------------------------------------------------------------
## Slider
--------------------------------------------------------------*/
#feature-slider {
  background-color: #000;
  clear: both;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#feature-slider .wrapper {
  max-width: 100%;
}

#feature-slider .hentry {
  width: 100%;
}

#feature-slider .slider-image {
  margin: 0;
}

#feature-slider .slider-image-thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#feature-slider .slider-content-wrapper {
  padding: 35px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 101;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

#feature-slider .entry-container {
  color: #fff;
  display: block;
  margin: 0 auto;
}

#feature-slider .entry-container a {
  color: #fff;
  text-decoration: none;
}

#feature-slider .entry-summary,
#feature-slider .entry-content {
  color: #fff;
  display: none;
  margin-top: 14px;
}

#feature-slider .cycle-pager {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 199;
}

#feature-slider .cycle-pager span {
  background-color: #ddd;
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  height: 4px;
  margin: 0 5px;
  overflow: hidden;
  width: 40px;
}

#feature-slider .cycle-pager span.cycle-pager-active {
  background-color: #fff;
  color: #fff;
}

#feature-slider .more-link {
  margin-top: 1.5em;
}

#feature-slider .more-link span {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 14px 28px;
  text-align: center;
}

#feature-slider .more-link:hover span,
#feature-slider .more-link:focus span {
  background-color: #000;
  border-color: #000;
}

#feature-slider .cycle-prev,
#feature-slider .cycle-next {
  background-color: transparent;
  border:  1px solid #fff;
  -webkit-border-radius:  50%;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  outline: none;
  opacity: 0;
  filter: alpha(opacity=0);
  letter-spacing: 0;
  position: absolute;
  top: 48%;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  -moz-transition:    all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition:         all 0.2s ease-in-out;
  width: 43px;
  height: 43px;
  z-index: 199;
}

#feature-slider .cycle-prev {
  left: -42px;
}

#feature-slider .cycle-next {
  right: -42px;
}

#feature-slider .cycle-prev:hover,
#feature-slider .cycle-prev:focus,
#feature-slider .cycle-next:hover,
#feature-slider .cycle-next:focus {
  background-color: #000;
  border-color: #000;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
## Breadcrumb
--------------------------------------------------------------*/
.breadcrumb-area {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 0 7px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.entry-breadcrumbs a,
.breadcrumb-current {
  display: inline-block;
  padding: 14px 7px;
}


/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 28px;
}

.page-content,
.entry-content {
  margin: 28px 0 0;
}

.entry-title {
  margin: 0 0 14px;
  text-transform: uppercase;
}

.entry-meta {
  font-size: 11px;
  font-size: 0.6875rem;
  margin: 0 0 28px;
}

.entry-meta a {
  color: rgba(0, 0, 0, 0.70);
  text-decoration: underline;
}

.entry-meta a:hover,
.entry-meta a:focus {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.more-link {
  clear: both;
  color: #000;
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.5em;
  line-height: 1.82;
  margin-top: 21px;
  text-transform: uppercase;
}

.more-link:hover,
.more-link:focus {
  color: rgba(0, 0, 0, 0.70);
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.single .byline:before {
  color: rgba(0, 0, 0, 0.7);
  content: "/\00a0";
  margin: 0 10px 0 14px;
}

.hero-content-wrapper {
  background-color: rgba(0, 0, 0, 0.02);
  margin: 35px 0;
}

.post-archive .hentry,
.search-results .post-archive .product,
.hero-content-wrapper .hentry {
  margin-bottom: 0;
  position: relative;
  width: 100%;
}

.post-archive .post-thumbnail,
.hero-content-wrapper .post-thumbnail {
  background-position: center center;
  background-size: cover;
  content: "";
  float: left;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.post-archive .post-thumbnail a,
.hero-content-wrapper .post-thumbnail a {
  position: absolute;
  top: 0;
  right:  0;
  bottom: 0;
  left: 0;
}

.post-archive .content-right,
.hero-content-wrapper .entry-container {
  clear: both;
  padding: 35px;
  width: 100%;
}

.hero-content-wrapper .entry-content {
  margin-top: 0;
}

.post-archive .full-content {
  width: 100%;
}

.post-archive .post-wrapper {
  max-width: 728px;
}

.post-archive .entry-title a,
.hero-content-wrapper .entry-title a {
  color: #000;
}

.post-archive .entry-title a:hover,
.post-archive .entry-title a:focus,
.hero-content-wrapper .entry-title a:hover,
.hero-content-wrapper .entry-title a:focus {
  color: rgba(0, 0, 0, 0.70)
}

.post-archive .entry-meta {
  line-height: 2.54;
  padding: 0;
  margin: 21px 0 0;
}

.post-archive .entry-meta .posted-on,
.post-archive .entry-meta .byline,
.post-archive .entry-meta .comments-link {
  display: inline-block;
  margin-right: 7px;
}

.post-archive .entry-meta a {
  text-decoration: underline;
}

.post-archive .entry-meta,
.post-archive .entry-meta a {
  color: rgba(0, 0, 0, 0.70);
}

.post-archive .entry-meta a:hover,
.post-archive .entry-meta a:focus {
  color: #000;
  text-decoration: none;
}

.post-archive .hentry:nth-child(2n) .entry-container,
.search-results .post-archive .product:nth-child(2n) .entry-container {
    background-color: rgba(0, 0, 0, 0.02);
}

/* Sticky Post */
.post-archive .hentry.sticky .entry-container {
  background-color: #000;
  color: rgba(255, 255, 255, 0.70);
}

.post-archive .sticky .entry-title a,
.post-archive .sticky .more-link {
  color: #fff;
}

.post-archive .sticky .entry-title a:hover,
.post-archive .sticky .entry-title a:focus,
.post-archive .sticky .more-link:hover,
.post-archive .sticky .more-link:focus {
  color: rgba(255, 255, 255, 0.70);
}

.post-archive .sticky .entry-meta,
.post-archive .sticky .entry-meta a {
  color: rgba(255, 255, 255, 0.70);
}

.post-archive .sticky .entry-meta a:hover,
.post-archive .sticky .entry-meta a:focus {
  color: #fff;
}

.singular-section {
  padding: 35px 0;
}

.content-area .entry-footer {
  margin: 28px auto;
}

.content-area .entry-footer span span,
.content-area .entry-footer .edit-link {
  display: block;
}

.singular-section .content-area .entry-footer,
.hero-content-wrapper .entry-footer {
  margin-top: 28px;
}

.content-area .entry-footer .cat-links,
.content-area .entry-footer .tags-links,
.content-area .entry-footer .edit-link {
  display: block;
  margin-bottom: 14px;
}

.content-area .entry-footer .cat-links a,
.content-area .entry-footer .tags-links a {
  font-size: 16px;
  font-size: 1rem;
}

.singular-section .content-area .entry-header,
.singular-section .content-area .woocommerce-products-header {
  text-align: center;
}

.content-area .entry-title,
.content-area .woocommerce-products-header .page-title {
  margin: 0 0 28px;
}

.content-area .woocommerce-products-header .page-title {
  text-transform: uppercase;
}

.singular-section .content-area .post-thumbnail,
.post-navigation,
.comments-title {
  margin: 35px auto;
}

.singular-section .content-area .post-thumbnail img {
  display: block;
  margin: 0 auto;
}

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
.page-links {
  clear: both;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 0 28px;
  text-transform: uppercase;
}

.page-links .page-link-text {
  margin-right: 14px;
}

.page-links .sep {
  margin: 0 7px;
}

.blog-section-headline {
   margin: 35px;
   text-align: center;
}

.page-title-wrapper {
   position: relative;
   z-index: 1;
}

.blog-section-headline .page-title {
  background: #fff;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
}

.blog-section-headline .archive-title-type {
    display: block;
    max-width: 756px;
    font-weight: 300;
}

.blog-section-headline .taxonomy-description {
  margin: 7px auto 0;
  max-width: 756px;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: #000;
  color: rgba(255, 255, 255, 0.70);
  clear: both;
}

.footer-widget-area.widget-area .widget-title {
  color: rgba(255, 255, 255, 0.70);
}

.widget-area ul,
.widget-area ol {
    list-style: none;
    margin-left: 0;
}

.widget-area li {
  line-height: 2.47;
}

.widget_categories ul,
.widget_archive ul {
  text-align: right;
}

.widget_categories li,
.widget_archive li {
  display: block;
  height: 1%;
  overflow: hidden;
}

.widget_categories ul a,
.widget_archive ul a {
  float: left;
}

.footer-widget-area {
  padding: 28px 0;
}

.widget-area .widget-column {
  padding: 21px 35px;
  width: 100%;
}

.footer-widget-area a {
  color: rgba(255, 255, 255, 1);
}

.footer-widget-area a:hover,
.footer-widget-area a:focus {
  color: rgba(255, 255, 255, 0.70);
}

#site-generator {
  clear: both;
  padding: 49px 0;
}

.site-social,
.site-info {
  text-align: center;
  clear: both;
}

.site-info a {
  color: rgba(255, 255, 255, 0.70);
  text-decoration: none;
}

.site-info a:hover,
.site-info a:focus {
  color: rgba(255, 255, 255, 1);
}

/*--------------------------------------------------------------
## Featured Content & Portfolio
--------------------------------------------------------------*/
.portfolio-wrapper,
.featured-content-wrapper {
  overflow: hidden;
  text-align: center;
}

.portfolio-wrapper .hentry,
.featured-content-wrapper .hentry {
  margin: 0;
  position: relative;
  width: 100%;
}

.portfolio-wrapper img,
.featured-content-wrapper img {
  width: 100%;
}

.portfolio-wrapper .hentry:nth-child(2n) {
  background-color: #fafafa;
}

.portfolio-wrapper .portfolio-entry-header,
.featured-content-wrapper .entry-header {
  padding: 35px;
}

.portfolio-wrapper .entry-title,
.featured-content-wrapper .entry-title {
  line-height: 1.333;
  margin: 0 0 7px;
}

.portfolio-wrapper a {
  color: #000;
  text-decoration: none;
}

.portfolio-wrapper a:hover,
.portfolio-wrapper a:focus {
  color: rgba(0, 0, 0, 0.70)
}

.portfolio-wrapper .entry-meta,
.featured-content-wrapper .entry-meta {
  margin: 0;
}

/*--------------------------------------------------------------
## Extra Elements
--------------------------------------------------------------*/
#wpstats {
    display: none;
}

.woocommerce .woocommerce-breadcrumb.entry-breadcrumbs {
  color: rgba(0, 0, 0, 0.70);
  margin: 0;
  font-size: 13px;
  font-size: 0.8125rem;
}

.woocommerce .woocommerce-breadcrumb.entry-breadcrumbs a {
  color: rgba(0, 0, 0, 1);
}

.woocommerce .woocommerce-breadcrumb.entry-breadcrumbs a:hover,
.woocommerce .woocommerce-breadcrumb.entry-breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.70);
}

.woocommerce nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border: 1px solid #d3ced2;
    border-right: 0;
    margin: 1px;
}

.woocommerce .content-area nav.woocommerce-pagination ul {
  border: none;
  margin: 0;
}

.woocommerce .content-area nav.woocommerce-pagination ul li {
  border: none;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  background: rgba(0, 0, 0, 0.90);
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.67;
  padding: 7px 35px;
}

.woocommerce .content-area nav.woocommerce-pagination ul li a:focus,
.woocommerce .content-area nav.woocommerce-pagination ul li a:hover,
.woocommerce .content-area nav.woocommerce-pagination ul li span.current {
    background: rgba(0, 0, 0, 1);
    color: #fff;
}

.woocommerce .content-area #respond input#submit,
.woocommerce .content-area a.button,
.woocommerce .content-area button.button,
.woocommerce .content-area input.button {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 300;
  padding: 14px;
  white-space: pre-wrap;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  background-color: #000;
  color: #fff;
  padding: 14px;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button:hover,
#add_payment_method .wc-proceed-to-checkout a.checkout-button:focus,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:focus,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:focus {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce #respond input#submit, .woocommerce a.button,
.woocommerce button.button, .woocommerce input.button {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  line-height: 1.667;
  white-space: normal;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  padding-top: 7px;
  padding-bottom: 7px;
}

.woocommerce ul.products li.product .button {
    max-width: 100%;
    white-space: normal;
}

.site-main .pagination .page-numbers {
  background: rgba(0, 0, 0, 0.90);
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.67;
  padding: 7px 35px;
}

.site-main .pagination .page-numbers:hover,
.site-main .pagination .page-numbers:focus,
.site-main .pagination span.current {
  background: rgba(0, 0, 0, 1.0);
  color: #fff;
}

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.comment-notes {
    margin: 21px auto;
}

.comment-notes,
.comment-reply-title,
.comments-title {
  text-align: center;
}

.comment-content {
  clear: both;
  display: block;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-list {
  margin-left: 0;
}

ol.comment-list,
.comment-list ol.children {
  list-style: none;
}

.form-submit {
  text-align: right;
}

.comment-form label {
  padding-bottom: 7px;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  padding: 14px 21px;
  width: 100%;
}

.comment-author {
  margin-right: 21px;
}

.comment-author .avatar {
  display: block;
  float: left;
  height: 48px;
  margin: 0 21px 21px 0;
  width: 48px;
}

.comment-author .fn {
  color: rgba(0, 0, 0, 1.0);
  display: block;
  float: left;
  font-weight: normal;
  margin: 10px 0;
}

.comment-author,
.comment-metadata {
  display: inline-block;
  float: left;
}

.comment-metadata {
  margin: 13px 0;
}

.comment-metadata a {
  color: rgba(0, 0, 0, 0.70);
}

.comment-metadata a:hover,
.comment-metadata a:focus {
  color: rgba(0, 0, 0, 1);
}

.comment-list ol.children {
  margin-left: 0;
}

.comment-list .depth-2 > ol.children,
.comment-list .depth-3 > ol.children,
.comment-list .depth-4 > ol.children,
.comment-list .depth-5 > ol.children {
  margin-left: 28px;
}

.comment-list .comment-body {
  margin: 35px 0;
  position: relative;
}

.comment-list ol.children .comment-body {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 28px;
}

.comment-list .reply {
  position: absolute;
  top: 7px;
  right: 0;
}

.comment-list .reply a {
  font-size: 12px;
  padding: 6px 8px;
  background-color: #000;
  color: #fff;
}

.comment-meta {
    padding-right: 30px;
}

.comment-awaiting-moderation {
  clear: both;
  display: block;
}

.comment-reply-title:before {
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  content: '';
  display: block;
  margin: 21px auto;
  width: 28px;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 35px;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}

.widget-area .widget-title {
  line-height: 1.647;
  margin: 0 0 28px;
  text-transform: uppercase;
}

/* Widget Columns */
.widget-area .hentry {
  display: block;
  float: left;
  margin-bottom: 14px;
  width: 100%;
}

.widget-area .entry-content {
  margin-top: 14px;
}

.widget-area ul.columns,
.widget-area .hentry:nth-last-of-type(1) {
  margin-bottom: 0;
}

.widget-area .two-columns .hentry {
  margin-left: 4%;
  width: 48%;
}

.widget-area .three-columns .hentry {
  margin-left: 4%;
    width: 30.66%;
}

.widget-area .four-columns .hentry {
  margin-left: 4%;
  width: 22%;
}

.widget-area .five-columns .hentry {
  margin-left: 4%;
  width: 16.8%;
}

.widget-area .six-columns .hentry {
  margin-left: 4%;
  width: 13.33%;
}

.widget-area .seven-columns .hentry {
  margin-left: 4%;
  width: 10.85%;
}

.widget-area .eight-columns .hentry {
  margin-left: 4%;
  width: 9%;
}

.widget-area .two-columns .hentry:nth-child(2n+1),
.widget-area .three-columns .hentry:nth-child(3n+1),
.widget-area .four-columns .hentry:nth-child(4n+1),
.widget-area .five-columns .hentry:nth-child(5n+1),
.widget-area .six-columns .hentry:nth-child(6n+1),
.widget-area .seven-columns .hentry:nth-child(7n+1),
.widget-area .eight-columns .hentry:nth-child(8n+1) {
    clear: both;
    margin-left: 0;
}

.widget-area .featured-image {
  margin: 0 0 14px;
}

.widget-area .left .featured-image,
.widget-area .right .featured-image {
  margin: 0;
  width: 25%;
}

.widget-area .left .featured-image {
  float: left;
}

.widget-area .right .featured-image {
  float: right;
}

.widget-area .center .featured-image {
  text-align: center;
}

.widget-area .left .entry-container,
.widget-area .right .entry-container {
    width: 75%;
}

.widget-area .left .entry-container {
    padding-left: 14px;
    float: right;
}

.widget-area .right .entry-container {
    padding-right: 14px;
    float: left;
}

.widget-area .hentry .entry-title {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: normal;
  margin-bottom: 14px;
  text-align: left;
  text-transform: none;
}

.widget-area .left .hentry .entry-title,
.widget-area .right .hentry .entry-title {
  margin-bottom: 7px;
}

.widget-area .hentry .entry-title a {
  text-decoration: none;
}

.widget-area .hentry .entry-meta {
    margin-bottom: 0;
}

.widget-area .no-featured-image .entry-container {
  float: none;
  padding: 0;
  width: 100%;
}

.widget-area input,
.widget-area select,
.widget-area textarea {
  margin: 0 0 14px;
  width: 100%;
}

/* Newsletter Widget */
.ct-newsletter-wrap #subbutton {
  margin: 14px auto;
  display: block;
}

/* Search Widget */
.widget-area .widget_search .search-form {
  position: relative;
}

.widget-area .widget_search label {
  padding: 0;
}

.widget-area .widget_search input[type="search"].search-field {
  margin: 0;
  width: -webkit-calc(100% - 42px);
  width: calc(100% - 42px);
}

.widget-area .widget_search .search-submit {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 42px;
}

.widget-area .widget_search .search-submit:before {
  font-size: 16px;
  font-size: 1rem;
  left: 2px;
  line-height: 35px;
  position: relative;
  width: 40px;
}

/* Calendar widget */
.widget.widget_calendar table {
  margin: 0;
}

.widget_calendar td,
.widget_calendar th {
  line-height: 2.5625;
  padding: 0;
  text-align: center;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

.infinite-loader {
  clear: both;
  display: none;
  padding: 49px 35px;
}

.site-main #infinite-handle span {
  padding: 0;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

.wp-caption {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.12);
  margin: 28px 0 28px;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 14px;
}

/* Ensure center-aligned captions center-align properly. */
.wp-caption.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

/* Give some padding to floated elements, to prevent them butting up against text. */
.wp-caption.alignleft {
  margin: 0.375em 1.5em 1.5em 0;
}

.wp-caption.alignright {
  margin: 0.375em 0 1.5em 1.5em;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
  padding: 0 1.1400652% 2.2801304%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## >= 534px
--------------------------------------------------------------*/
@media screen and (min-width: 33.375em) {
  .site-branding {
    text-align: center;
    padding-top: 21px;
  }

  .page-title-wrapper:before {
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 100%;
    max-width: 1600px;
    z-index: -1;
  }

  .blog-section-headline .page-title {
    padding: 0 14px;
  }

  .post-archive .hentry,
  .search-results .post-archive .product,
  .two-columns .hentry,
  .four-columns .hentry,
  .footer-widget-area.two .widget-column,
  .footer-widget-area.four .widget-column {
    width: 50%;
  }

  .post-archive .hentry,
  .search-results .post-archive .product {
    float: left;
  }

  .post-archive .hentry:nth-of-type(2n+1),
  .search-results .post-archive .product:nth-of-type(2n+1),
  .two-columns .hentry:nth-child(2n+1),
  .four-columns .hentry:nth-child(2n+1) {
    clear: both;
  }

  .portfolio-wrapper .hentry,
  .featured-content-wrapper .hentry {
    position: relative;
    direction: ltr;
    display: table;
  }

  .featured-content-wrapper .post-thumbnail,
  .featured-content-wrapper .entry-header,
  .portfolio-wrapper .post-thumbnail,
  .portfolio-wrapper .portfolio-entry-header {
    display: table-cell;
    position: static;
    vertical-align: middle;
    width: 50%;
  }

  .portfolio-wrapper .hentry:nth-child(2n),
  .featured-content-wrapper .hentry:nth-child(2n) {
    direction: rtl;
    width: 100%;
  }

  .portfolio-wrapper .hentry:nth-child(2n) .post-thumbnail,
  .featured-content-wrapper .hentry:nth-child(2n) .post-thumbnail {
    left: 50%;
    right: 0;
  }

  .site-main .comment-navigation,
  .site-main .posts-navigation,
  .site-main .comment-navigation,
  .site-main #infinite-handle {
    margin: 63px 0;
  }

  .front-page-navigation .nav-links {
    padding: 0 63px;
  }

  .comment-navigation .nav-previous,
  .posts-navigation .nav-previous {
    float: left;
    text-align: left;
    width: 50%;
  }

  .comment-navigation .nav-next,
  .posts-navigation .nav-next {
    float: right;
    margin-top: 0;
    text-align: right;
    width: 50%;
  }

  .hero-content-wrapper .hentry {
    display: table;
    width: 100%;
  }

  .hero-content-wrapper .post-thumbnail {
    display: table-cell;
    vertical-align: middle;
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    width: 45%;
  }

  .hero-content-wrapper .entry-container {
    display: table-cell;
    vertical-align: middle;
    width: 55%;
    float: right;
  }

  .hero-content-wrapper .entry-container.full-width {
    width: 100%;
  }

  #secondary .widget {
    display: block;
    float: left;
    width: 48%;
  }

  #secondary .widget:nth-child(2n+1) {
    clear: both;
    margin-right: 4%;
  }
}

/*--------------------------------------------------------------
## >= 768px
--------------------------------------------------------------*/
@media screen and (min-width: 48em) {
  #page {
    padding: 0 2%;
  }

  .fluid-layout #page {
    padding: 0;
  }

  .section .hentry,
  .footer-widget-area .widget-column {
    float: left;
    overflow: hidden;
  }

  .featured-content-wrapper .hentry,
  .featured-content-wrapper .hentry:nth-child(2n),
  .portfolio-wrapper .hentry,
  .portfolio-wrapper .hentry:nth-child(2n),
  .three-columns .hentry,
  .footer-widget-area.three .widget-column {
    width: 33.33%;
  }

  .featured-content-wrapper.layout-two .hentry,
  .featured-content-wrapper.layout-four .hentry {
    width: 50%;
  }

  .featured-content-wrapper.layout-three .hentry {
    width: 33.33%;
  }

  .featured-content-wrapper.layout-two .hentry:nth-child(2n+1),
  .featured-content-wrapper.layout-three .hentry:nth-child(3n+1),
  .featured-content-wrapper.layout-four .hentry:nth-child(2n+1) {
    clear: both;
  }

  .portfolio-wrapper .hentry:nth-child(2n),
  .featured-content-wrapper .hentry:nth-child(2n) {
    direction: ltr;
  }

  .featured-content-wrapper .post-thumbnail,
  .featured-content-wrapper .entry-header,
  .portfolio-wrapper .post-thumbnail,
  .portfolio-wrapper .portfolio-entry-header {
    display: block;
    width: 100%;
  }

  .four-columns .hentry,
  .footer-widget-area.four .widget-column {
    width: 25%;
  }

  .four-columns .hentry:nth-child(2n+1) {
    clear: none;
  }

  .four-columns .hentry:nth-child(4n+1),
  .three-columns .hentry:nth-child(3n+1) {
    clear: both;
  }

  .footer-widget-area {
      padding: 35px 0;
  }

  .widget-area .widget-column {
    padding: 28px 35px;
  }

  #site-generator {
    padding: 63px 0;
  }

  .site-footer-menu ul,
  .social-navigation ul {
    margin: 0 0 28px;
  }

  .site-title {
    font-size: 30px;
    font-size: 1.875rem;
  }

  .entry-content blockquote.alignleft,
  .entry-content blockquote.alignright {
    width: -webkit-calc(50% - 0.736842105em);
    width: calc(50% - 0.736842105em);
  }

  .site-branding {
    padding-left: 70px;
    padding-right: 70px;
  }

  .site-header-menu {
    border-top: 1px solid #1f1f1f;
  }

  .blog-section-headline {
    margin: 49px 35px;
  }

  .hero-content-wrapper {
    margin: 49px 0;
  }

  .singular-section {
    padding: 49px 0;
  }

  .hero-content-wrapper .entry-container {
    padding: 84px 56px;
  }

  .blog-section-headline .page-title {
    font-size: 56px;
    font-size: 3.5rem;
    padding: 0 21px;
  }

  .post-navigation .nav-previous,
  .post-navigation .nav-next {
    display: table-cell;
    vertical-align: top;
    width: 50%;
  }

  .post-navigation .nav-previous {
    text-align: left;
  }

  .post-navigation .nav-next {
    text-align: right;
  }

  #feature-slider .entry-container {
    max-width: 945px;
  }

  #feature-slider .entry-summary,
  #feature-slider .entry-content {
    display: block;
  }

  #feature-slider:hover .cycle-prev,
  #feature-slider:focus .cycle-prev {
    left: 21px;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  #feature-slider:hover .cycle-next,
  #feature-slider:focus .cycle-next {
    right: 21px;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .post-password-form label {
    text-align: left;
  }

  .post-password-form label,
  .post-password-form input[type="password"],
  .post-password-form input[type="submit"] {
    display: inline-block;
    width: auto;
  }
}

/*--------------------------------------------------------------
## >= 1024px
--------------------------------------------------------------*/
@media screen and (min-width: 64em) {
  .menu-toggle-wrapper,
  .dropdown-toggle,
  .site-header-menu.toggled-on .mobile-search-wrapper {
    display: none;
  }

  .site-search {
    display: block;
  }

    .main-navigation .menu-item-has-children > a,
  .main-navigation .page_item_has_children > a {
    padding-right: 28px;
  }

  .main-navigation .menu-item-has-children li > a,
  .main-navigation .page_item_has_children li > a {
    padding-right: 14px;
  }

  .main-navigation .menu-item-has-children > a:after,
  .main-navigation .page_item_has_children > a:after {
    content: "\f067";
    padding-left: 13px;
  }

  .main-navigation ul {
    border-top: none;
    display: block;
    text-align: center;
  }

  .main-navigation li {
    border-top: none;
    display: inline-block;
  }

  .main-navigation ul ul {
    background-color: #000;
    float: left;
    padding: 4px 0;
    position: absolute;
    top: 53px;
    left: -999em;
    width: 266px;
    z-index: 99999;
  }

  .main-navigation ul ul li:hover > ul,
  .main-navigation ul ul li.focus > ul {
    left: 100%;
  }

  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    left: auto;
  }

  .has-header-video .custom-header-media {
    min-height: 575px;
  }

  #feature-slider:hover .cycle-prev,
  #feature-slider:focus .cycle-prev {
    left: 42px;
  }

  #feature-slider:hover .cycle-next,
  #feature-slider:focus .cycle-next {
    right: 42px;
  }

  .featured-content-wrapper.layout-four .hentry {
    width: 25%;
  }

  .featured-content-wrapper.layout-four .hentry:nth-child(2n+1) {
    clear: none;
  }

  .featured-content-wrapper.layout-four .hentry:nth-child(4n+1) {
    clear: both;
  }

  .search-toggle {
    padding: 26px;
  }

  .search-wrapper:before {
    right: 26px;
  }

  .post-archive .hentry,
  .search-results .post-archive .product {
    display: table;
    width: 100%;
  }

  .post-archive .post-thumbnail {
    display: table-cell;
    vertical-align: middle;
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    width: 45%;
  }

  .post-archive .content-right {
    display: table-cell;
    vertical-align: middle;
    width: 55%;
    float: right;
    padding: 84px 56px;
  }

  .singular-section .content-area .post-thumbnail,
  .post-navigation,
  .comments-title {
    margin: 42px auto;
  }

  .comment-list .comment-body {
    margin: 42px 0;
  }

  .full-width-layout .content-area .entry-header,
  .full-width-layout .content-area .entry-content,
  .full-width-layout .content-area .entry-footer,
  .full-width-layout.woocommerce .site-main {
    padding: 0 56px;
  }

  .site-main .posts-navigation .nav-links {
    padding: 0 56px;
  }

  .post-archive .entry-meta .posted-on,
  .post-archive .entry-meta .byline,
  .post-archive .entry-meta .comments-link {
    clear: both;
    display: block;
    margin-right: 0;
  }

  .site-main .comment-navigation,
  .site-main .posts-navigation,
  .site-main .comment-navigation,
  .site-main #infinite-handle {
    margin: 70px 0;
  }

  .front-page-navigation .nav-links {
    padding: 0 70px;
  }

  .page-links .page-link-text {
    margin-right: 28px;
  }

  .page-links .sep {
    margin: 0 14px;
  }

  .footer-widget-area {
      padding: 35px 0;
  }

  .widget-area .widget-column {
    padding: 35px;
  }

  .widget-column > :last-child {
    margin-bottom: 28px;
  }

  #site-generator {
    padding: 70px 0;
  }

  .site-footer-menu ul,
  .social-navigation ul {
    margin: 0 0 35px;
  }

  .blog-section-headline {
    margin: 49px;
  }

  .featured-content-wrapper .entry-header {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    padding: 35px;
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    transform: translateY(-30%);
    background-color: rgba(0, 0, 0, 0.25);
    text-align: left;
  }

  .featured-content-wrapper a {
    color: #fff;
    text-decoration: none;
  }

  .featured-content-wrapper .entry-header {
    color: #fff;
  }

  .featured-content-wrapper a:hover,
  .featured-content-wrapper a:focus {
    color: rgba(255, 255, 255, 0.70)
  }

  .post-navigation {
    padding: 0;
  }

  .two-columns-layout #primary {
    width: 70%;
  }

  .two-columns-layout #secondary {
    width: 30%;
  }

  #secondary .widget {
    width: 100%;
  }

  #secondary .widget:nth-child(2n+1) {
    margin-right: 0;
  }

  /* Font Size */
  body,
  h4,
  .widget-area .widget-title {
    font-size: 17px;
    font-size: 1.0625rem;
  }

  h1,
  .entry-title {
    font-size: 40px;
    font-size: 2.5rem;
  }

  #feature-slider .entry-title {
    font-size: 32px;
    font-size: 2rem;
  }

  h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }

  h3,
  .portfolio-wrapper .entry-title,
  .featured-content-wrapper .entry-title,
  .comments-title,
  .comment-reply-title {
    font-size: 24px;
    font-size: 1.5rem;
  }

  h5 {
    font-size: 15px;
    font-size: 0.9375rem;
  }

  h6,
  .blog-section-headline .archive-title-type,
  table caption,
  .wp-caption-text,
  .comment-notes,
  .comment-metadata,
  .site-info {
    font-size: 13px;
    font-size: 0.8125rem;
  }

  .blog-section-headline .page-title {
    font-size: 72px;
    font-size: 4.5rem;
    padding: 0 42px;
  }
}

/*--------------------------------------------------------------
## >= 1152px
--------------------------------------------------------------*/
@media screen and (min-width: 72em) {
  .post-archive .post-thumbnail {
    width: 40%;
  }

  .post-archive .content-right {
    width: 60%;
  }

  .post-archive .entry-summary {
    width: 73%;
    float: left;
  }

  .post-archive .entry-meta {
    width: 27%;
    float: left;
    margin-top: 0;
    padding-left: 28px;
  }

  .blog-section-headline {
    margin: 56px;
  }

  .hero-content-wrapper {
    margin: 56px 0;
  }

  .singular-section {
    padding: 56px 0;
  }

  .site-footer-menu a {
    font-size: 15px;
    font-size: 0.9375rem;
    padding: 14px 28px;
  }
}

/*--------------------------------------------------------------
## >= 1280px
--------------------------------------------------------------*/
@media screen and (min-width: 80em) {
  .site-main .posts-navigation .nav-links {
    padding: 0 70px;
  }

  .post-archive .post-thumbnail {
    width: 33.3125%;
  }

  .post-archive .content-right {
    padding: 98px 70px;
    width: 66.6875%;
  }

  .hero-content-wrapper .entry-container {
    padding: 98px 70px;
  }

  .blog-section-headline {
    margin: 63px;
  }

  .hero-content-wrapper {
    margin: 63px 0;
  }

  .singular-section {
    padding: 63px 0;
  }

  .full-width-layout .content-area .entry-header,
  .full-width-layout .content-area .entry-content,
  .full-width-layout .content-area .entry-footer,
  .full-width-layout.woocommerce .site-main {
    padding: 0 70px;
  }

  .two-columns-layout #primary {
    width: 826px;
  }

  .two-columns-layout #secondary {
    width: 370px;
  }

  /* Font Size */
  .blog-section-headline .page-title {
    font-size: 80px;
    font-size: 5rem;
    padding: 0 63px;
  }
}

/*--------------------------------------------------------------
## >= 1360px
--------------------------------------------------------------*/
@media screen and (min-width: 85em) {
  .post-archive .content-right,
  .hero-content-wrapper .entry-container {
    padding: 112px 84px;
  }

  .site-main .posts-navigation .nav-links {
    padding: 0 84px;
  }

  .blog-section-headline {
    margin: 70px;
  }

  .hero-content-wrapper {
    margin: 70px 0;
  }

  .singular-section {
    padding: 70px 0;
  }

  .singular-section .content-area .post-thumbnail,
  .post-navigation,
  .comments-title {
    margin: 56px auto;
  }

  .content-area .entry-content {
    margin-top: 56px;
  }

  .comment-list .comment-body {
    margin: 56px 0;
  }

  .full-width-layout .content-area .entry-header,
  .full-width-layout .content-area .entry-content,
  .full-width-layout .content-area .entry-footer,
  .full-width-layout.woocommerce .site-main {
    padding: 0 84px;
  }

  /* Font Size */
  .blog-section-headline .page-title {
    font-size: 90px;
    font-size: 5.625rem;
    padding: 0 70px;
  }
}


/*--------------------------------------------------------------
## >= 1440px
--------------------------------------------------------------*/
@media screen and (min-width: 90em) {
  .post-archive .content-right,
  .hero-content-wrapper .entry-container {
    padding: 140px 112px;
  }

  .site-main .posts-navigation .nav-links {
    padding: 0 112px;
  }

  .full-width-layout .content-area .entry-header,
  .full-width-layout .content-area .entry-content,
  .full-width-layout .content-area .entry-footer,
  .full-width-layout.woocommerce .site-main {
    padding: 0 112px;
  }

  .singular-section {
    padding: 140px 0;
  }

  .fluid-layout .post-archive .post-wrapper {
    max-width: 1024px;
  }

  .fluid-layout .post-archive .post-thumbnail {
    width: 33.491%;
  }

  .fluid-layout .post-archive .content-right {
    width: 66.509%;
  }
}
